/* iframe is to adjust window size, window is to adjust position*/

#test-iframe{
    width: 575px;
    height: 330px;
}

#video-player-iframe{
    width: 575px;
    height: 330px;
}

#video-player {
    position:fixed;
    top:40%;
    left:-95px;

}

#music-directory-iframe{
    width: 470px;
    height: 330px;
}

#music-directory-window{
    top: 35vh;
    left: -50px;
}

#music-player-iframe{
    width: 400px;
    height: 120px;
}
#music-player-window{
    top: 55vw;
    left: 5vw;
}

#video-directory-iframe{
    width: 350px;
    height: 200px;
}
#video-directory-window{
    top: 20vw;
    left: 20vw;
}

#bulletin-iframe{
    width: 360px;
    height: 200px;
}
#bulletin-window{
    top: 0vw;
    left: 20vw;
}

#about-iframe{
    width: 400px;
    height: 260px;
}
#about-window{
    top: 0vw;
    left: 5vw;
}
