/* iframe is to adjust window size, window is to adjust position*/

#test-iframe{
    width: 575px;
    height: 330px;
}

#video-player-iframe{
    width: 575px;
    height: 330px;
}
#video-player {
    position: absolute;  /* Position it relative to the nearest positioned ancestor */
    top: 40%;            /* Position the top edge of the element at the center of the viewport */
    left: -100px;           /* Position the left edge of the element at the center of the viewport */
}

#music-directory-iframe{
    width: 470px;
    height: 330px;
}

#music-directory-window{
    top: 100px;
    left: -40px;
}

#music-player-iframe{
    width: 400px;
    height: 120px;
}
#music-player-window{
    top: 10vw;
    left: 50vw;
}

#video-directory-iframe{
    width: 350px;
    height: 200px;
}
#video-directory-window{
    top: 0vw;
    left: 20vw;
}

#bulletin-iframe{
    width: 360px;
    height: 200px;
}
#bulletin-window{
    top: 0vw;
    left: 20vw;
}

#about-iframe{
    width: 400px;
    height: 260px;
}
#about-window{
    top: 10vw;
    left: 20vw;
}
