#test-iframe{
    width: 575px;
    height: 330px;
}

#video-player-iframe{
    width: 575px;
    height: 330px;
    
}

#music-directory-iframe{
    width: 575px;
    height: 330px;
}

#video-player{
    top: 40vw;
    left: 50vw;
}

#music-directory-window{
    top: 10vw;
    left: 20vw;
}